  
  .containerImage{
    overflow-y: scroll;
    -webkit-overflow-scrolling: auto;
    column-count: 5;
    -webkit-column-break-inside: avoid;
    margin-left: 80px;

  } 

  .containerNav{
    width: 100%;
    display: block; 
    padding: 0;
    flex: 0 0 auto;
    position: absolute;
}

