

  
  .elemento{
    width: 220px;
    background: #fff;
    margin-right: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    -webkit-column-break-inside: avoid;
   

  }
  
  .img{
    border-radius: 10px;
    /* position: relative; */
  }